/* img {
  max-width: 200px;
  max-height: 200px;
} */

body {
  display: flex;
  justify-content: center;

  flex-direction: column;
}

#display_image {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  width: 180px;
  height: 180px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  border-radius: 150px;
}

content {
  padding-left: 200px;
}

#logoutBtn {
  padding-left: 600px;
}
